{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Sent Remain</title>

    <link rel="stylesheet" href="{% static '/themify-icons.css' %} ">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %} ">
</head>
<body>
    <div class="app">
        <div class="container homeoutlet">
                <!-- Header -->
                <div class="row header">    
                    <div class="logo">
                        <a href="#"><img src="{% static '/img/logo-hnk.png' %} " alt="logo"></a>
                    </div>
                    <div class="profile-user"> 
                        <img src="{% static '/img/img_avatar3.png' %}" alt="avatar"></img>
                    </div>
                </div>
                <div class="icon-back">
                    <a href="{% url 'quantity-gift' %}"><i class="ti-angle-double-left"></i></a>
                </div>
                <!-- Main -->
                <div class="row main">
                    <p class="report_title">Quà tồn cuối ca</p>
                    <form action="#" method=""class="listbox">
                        
                        <table class="table-list" style="width:100%">
                            <tr>
                                <th>Tên quà tặng</th>
                                <th>Quà nhận</th>
                                <th>Quà phát</th>
                                <th>Quà tồn</th>
                            </tr>
                            <tr>
                                <td class="td-name">{{gift_name_1}}</td>
                                {% comment %} <td class="td-number"><input type="number" id="input_quality" placeholder="Điền số lượng *" required></td> {% endcomment %}
                                <td class="td-total">{{gift1_received}}</td>
                                <td class="td-total">{{gift1_given}}</td>
                                <td class="td-total">{{gift1_remaining}}</td>
                            </tr>
                            <tr>
                                <td class="td-name">{{gift_name_2}}</td>
                                {% comment %} <td class="td-number"><input type="number" id="input_quality" placeholder="Điền số lượng *" required></td> {% endcomment %}
                                <td class="td-total">{{gift2_received}}</td>
                                <td class="td-total">{{gift2_given}}</td>
                                <td class="td-total">{{gift2_remaining}}</td>

                            </tr>
                            <tr>
                                <td class="td-name">{{gift_name_3}}</td>
                                {% comment %} <td class="td-number"><input type="number" id="input_quality" placeholder="Điền số lượng *" required></td> {% endcomment %}
                                <td class="td-total">{{gift3_received}}</td>
                                <td class="td-total">{{gift3_given}}</td>
                                <td class="td-total">{{gift3_remaining}}</td>
                            </tr>
                            
                            
                            
                            
                            
                        </table>
                        <br>
                        <div class="box-center">
                            {% comment %} <input type="submit" class="btn btn-confirm" value="Xác nhận"> {% endcomment %}
                            <a href="{% url 'pagereport' %}" class="btn btn-confirm">Xác nhận</a>
                        </div>
                    </form>
                </div>

        </div>
    </div>

    <!-- JS -->
    
    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>