{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlet Detail</title>

    <link rel="stylesheet" href="{% static '/themify-icons.css' %} ">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %} ">
</head>
<body>
    <div class="app">
        <div class="container homeoutlet">
                <!-- Header -->
                <div class="row header">    
                    <div class="logo">
                        <a href="#"><img src="{% static '/img/logo-hnk.png' %} " alt="logo"></a>
                    </div>
                    <div class="profile-user"> 
                        <img src="{% static '/img/img_avatar3.png' %}" alt="avatar"></img>
                    </div>
                </div>
                <div class="icon-back">
                    <a href='back/'><i class="ti-angle-double-left"></i></a>
                </div>
                <!-- Main -->
                <div class="row main">
                    <div class="main-top">
                        <div class="create-info-outlet__content">
                            <div class="create-info-outlet_body">
                                
                                <form action="{% url 'outletCreate' outlet_id %}" class="form-create-info" method='POST'>
                                    <p class="form-create-info_title">Thông Tin Outlet</p>
                                    {% csrf_token %} 
                                    <div class="input-create-info">
                                        {% comment %} <input type="text" placeholder="Tên outlet *"> {% endcomment %}
                                        {{form.outlet_Name}}
                                    </div>
                                    <div class="input-create-info">
                                        {% comment %} <input type="text" placeholder="Địa chỉ outlet *"> {% endcomment %}
                                        {{form.outlet_address}}
                                    </div>
                                    
                                    {% comment %} <div class="input-create-info">
                                      
                                        {{form.type}}
                                    </div> {% endcomment %}
                                    <div class="input-create-info">
                                        <select name="type-outlet" id="type" required>
                                            <option value="">Loại Oulet:</option>
                                            <option value="QN">QN</option>
                                            <option value="GSO">GSO</option>
                                            <option value="YSO">YSO</option>
                                            <option value="Hot Zone">Hot Zone</option>
                                            <option value="Karaoke">Karaoke</option>
                                            <option value="Beer Cafe">Beer Cafe</option>
                                            <option value="Restaurant">Restaurant</option>
                                        </select>
                                    </div>

                                    <div class="input-create-info">
                                        {% comment %} <input type="text" placeholder="Loại outlet *"> {% endcomment %}
                                        {{form.ouletID}}
                                    </div>
                                    {% comment %} <div class="input-create-info">
                                        <input type="datetime-local" value="">
                                    </div> {% endcomment %}
                                    
                                    <div class="create-info-outlet__footer">
                                        <input type="submit" class="btn btn-confirm" value="Xác nhận">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static '/js/app.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#type-outlet").change(function () {
                var type_outlet = $(this).val();
                console.log(type_outlet);
                
               // var province_filter = encodeURI($("#local-city").val());
                //var url = $("#url").val();
                //$("#raw_data_filter_date").attr("href",url + "?date_filter="+date_filter+"&province_filter="+province_filter);
                //console.log($("#raw_data_filter_date").attr("href"));
                //$("#raw_data_filter_province").attr("href",url + "?date_filter="+date_filter+"&province_filter="+province_filter);
            }); // end change type          
        });
    </script>
</body>
</html>