{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Outlet</title>

    <link rel="stylesheet" href="{% static '/themify-icons.css' %} ">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %} ">
</head>
<body>
    <div class="app">
        <div class="container homeoutlet">
                <!-- Header -->
                <div class="row header">    
        
                    <div class="logo">
                        <a href="#"><img src="{% static '/img/logo-hnk.png' %}" alt="logo"></a>
                    </div>
                    <div class="profile-user dropdown-nav">
                        <a href="#" class="user-img" onclick="openTigerTp()">
                            <img src="{% static '/img/img_avatar3.png' %}" alt="avatar" class="avatar-user">
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-sub"><a href="{% url 'logout' %}"><i class="ti-shift-left"></i> Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
    
                <!-- Main -->
                <div class="row main">
                    <p class="title">Chọn Outlet</p>
                    <form action="" class="form-create-info" method='POST' id='outlet-form'>
                        {% csrf_token %} 
                        <div class="main-top">
                            <div class="search-box">
                                <input type="search" placeholder="Tìm kiếm" id="outlet-id" value="">
                                <button type=submit><i class="ti-search"></i></button>
                            </div>
                            <div class="filter-box">
                                
                                <select name="calc_shipping_provinces" >
                                    <option value="">Tỉnh / Thành phố</option>
                                </select>
                                <select name="calc_shipping_district" >
                                <option value="">Quận / Huyện</option>
                                </select>
                                <input class="billing_address_1" name="" type="hidden" value="" id='aaa'>
                                <input class="billing_address_2" name="" type="hidden" value="" id='bbb'>
                            </div>
                        </div>
                    </form>
                    <div class="main-table" id='list_table_search'>
                        {% if list_outlet %} 
                        {% for outlet in list_outlet %}
                        <div class="table-list">
                            <a class="table-list_name" href={{outlet.id}}>
                                {{outlet.outlet_Name}}
                            </a>
                            <p class="table-list_id">
                                {{outlet.ouletID}}
                            </p>
                            <p class="table-list_address">
                                {{outlet.outlet_address}}
                            </p>
                        </div>
                        {% endfor %} 
                        {% else %}
                        <p>None</p>
                        {% endif %}
                        
                    </div>
                </div>

        </div>
    </div>

    <!-- JS -->
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "445536889224666");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        icon_sales = "{% url 'search' %}"
    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown-nav").click(function(){
                $(this).find(".dropdown-menu").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown-nav");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu").slideUp("fast");
            }            
        });
    </script>
    
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/districts.min.js' %}"></script>
    <script src="{% static '/js/filter.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>