{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlet Detail</title>

    <link rel="stylesheet" href="{% static '/themify-icons.css' %} ">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %} ">
</head>
<body>
    <div class="app">
        <div class="container homeoutlet">
                <!-- Header -->
                <div class="row header">    
                    <div class="logo">
                        <a href="#"><img src="{% static '/img/logo-hnk.png' %} " alt="logo"></a>
                    </div>
                    <div class="profile-user"> 
                        <img src="{% static '/img/img_avatar3.png' %}" alt="avatar"></img>
                    </div>
                </div>
                <div class="icon-back">
                    <a href="{% url 'listoutlet' %}"><i class="ti-angle-double-left"></i></a>
                </div>
                <!-- Main -->
                <div class="row main">
                    <div class="main-top">
                        <div class="search-box">
                            <input type="search" placeholder="Tìm kiếm">
                            <i class="ti-search"></i>
                        </div>
                        
                    </div>
                    <div class="main-table">
                        
                        <div class="table-details">
                            <p class="table-details_title">XÁC NHẬN THÔNG TIN OUTLET</p>
                            <div class="details-info">
                                <p class="auth-outlet">
                                    {{ object.outlet_Name }}
                                </p>
                                <span class="local-outlet">
                                    <i class='ti-location-pin'></i> Địa chỉ: {{ object.outlet_address }}
                                </span><br>
                                <span class="type-outlet">
                                    <i class='ti-clip'></i> Oulet ID: {{ object.ouletID }}
                                </span><br>
                                <span class="date-outlet">
                                    <i class='ti-timer'></i> Thời gian tạo: {{ object.time }}, {{ object.created }}
                                </span><br>
                                <span class="type-outlet">
                                    <i class='ti-clip'></i> Loại outlet: {{ object.type }}
                                </span><br>
                            </div>
                            
                        </div>
                        <div class="box-button">
                            <a href="outletCreate/"class="btn btn-close">Tạo outlet mới</a>
                            <a href='check_in/' class="btn btn-checkin">Bắt đầu ca làm</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>