{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI Setting</title>

    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static '/PC/themify-icons.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static '/PC/css/style.css' %}">
</head>

<body>
    <div class="app">
        <div class="container-home">
            <!-- Header Home -->
            <div class="row header-home">
                <div class="logo">
                    <a href=""><img src="{% static '/PC/img/logo_hnk.png' %}" alt="logo"></a>
                </div>
                <div class="navbar" id="topheader">
                    {% if not request.user.is_agency  %}
                    <ul class="navbar-nav">
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 1%}
                        active
                        {% endif %}
                        ">
                            <a href="{% url 'kpi' 1 %}" class="nav-links drop-btn" onclick="openTigerTp()">
                                Tiger Table Promotion
                            </a>
                            
                        </li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 2 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 3 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 4 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 5 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 6 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 6 %}" class="nav-links">Strongbow Festive</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 7 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 8 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 9 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                    </ul>
                    {% endif %}
                    {% if request.user.is_agency  %}
                    <ul class="navbar-nav">
                        {% if cam_id == 1%}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 1%}
                        active
                        {% endif %}
                        ">
                            <a href="{% url 'kpi' 1 %}" class="nav-links drop-btn" onclick="openTigerTp()">
                                Tiger Table Promotion
                            </a>
                            
                        </li>
                        {% endif %}
                        {% if cam_id == 2 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 2 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                        {% endif %}
                        {% if cam_id == 3 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 3 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                        {% endif %}
                        {% if cam_id == 4 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 4 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                        {% endif %}
                        {% if cam_id == 5 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 5 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                        {% endif %}
                        {% if cam_id == 6 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 6 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 6 %}" class="nav-links">Strongbow Festive</a></li>
                        {% endif %}
                        {% if cam_id == 7 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 7 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                        {% endif %}
                        {% if cam_id == 8 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 8 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                        {% endif %}
                        {% if cam_id == 9 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 9 %}
                            active
                        {% endif %}
                        "><a href="{% url 'kpi' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                        {% endif %}
                        
                    </ul>
                    {% endif %}
                </div>
                <div class="profile-user dropdown-logout">
                    <a href="#" class="user-img" onclick="openTigerTp()">
                        <img src="{% static '/PC/img/Power-01.ico' %}" alt="avatar" class="avatar-user">
                    </a>
                    <ul class="dropdown-menu_logout">
                        <li class="nav-sub"><a href="{% url 'passwordchangeHVN' %}">Đổi mật khẩu</a></li>
                        <li class="nav-sub"><a href="{% url 'logoutHVN' %}"><i class="ti-shift-left"></i> Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
            <div class="row raw-data">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><i class='bx bx-menu'></i> </button>
                    <span class="title-menu">Management</span>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'dashboard' cam_id  %}">Dashboard</a></li>
                        <li class="nav-sub"><a href="{% url 'raw-data' cam_id  %}">Raw data</a></li>
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id  %}">Management</a></li>
                        <li class="nav-sub"><a href="{% url 'export-report' cam_id  %}">Export report</a></li>
                    </ul>
                </div>

            </div>
            <div class="row raw-data-sub">
                
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><span class="title-menu">KPI Setting</span> </button>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id  %}">Outlet Information</a></li>
                        <li class="nav-sub"><a href="{% url 'outlet-approval' cam_id  %}">Outlet approval</a></li>
                        <li class="nav-sub"><a href="{% url 'kpi' cam_id  %}">KPI Tracking</a></li>
                        <li class="nav-sub"><a href="{% url 'sp-info' cam_id %}">SP Information</a></li>
                    </ul>
                </div>
                
                <div class="rightbox_kpi">
                    
                    <a href="{% url 'kpi' cam_id  %}" class="btn-kpi" href="create_KPI/">Done</a>
                    

                </div>
               
            </div>

            <!-- Main Home-->
            <form method='POST' action="">
            <div class="main-table_managenment">
                <div class="table-outlet">
                    <table style="width:60%" class="table-list">
                        
                                {% csrf_token %} 
                            <tr>
                                <th>KPI</th>  

                                {% for kpi in all_kpi %}
                                <th class="th-kpi"><div><span>{{ forloop.counter }}</span> <span class="small">st</span>KPI</div></th>
                                {% endfor %}

                                <th>Input</th>
                            </tr>
                            <tr>
                                <td class="td-desc bg-green">Start date</td>
                                {% for kpi in all_kpi %}
                                <td class="td-desc bg-green">{{kpi.start_day}}</td>  
                                {% endfor %}

                                <td class="td-desc bg-green">
                                    <input type="date" name="start_day" id="input-date_kpi" value="{{date_filter}}" required >
                                    <i class='bx bxs-sort-alt'></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-desc">Volume Achieved (Can/Bottle)</td>

                                {% for kpi in all_kpi %}
                                <td class="td-desc bg-green">{{kpi.volume_achieved}}</td>   
                                {% endfor %}

                                <td class="td-desc text-red">
                                    {{form.volume_achieved}}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-desc">Table Share</td>

                                {% for kpi in all_kpi %}
                                <td class="td-desc bg-green">{{kpi.table_share}}</td>   
                                {% endfor %}
                                <td class="td-desc text-red">
                                    {{form.table_share}}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-desc">% Consumer Reached</td>
                                {% for kpi in all_kpi %}
                                <td class="td-desc bg-green">{{kpi.consumer_reached}}</td>   
                                {% endfor %}
                                <td class="td-desc text-red">
                                    {{form.consumer_reached}}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-desc">% Conversion</td>
                                {% for kpi in all_kpi %}
                                <td class="td-desc bg-green">{{kpi.conversion}}</td>   
                                {% endfor %}
                                <td class="td-desc text-red">
                                    
                                    {{form.conversion}}
                                </td>
                            </tr>
                        
                    </table>
                    {% if not check_percent %}
                    <p style="color:red">Vui lòng nhập %Table Share</p>
                    {% endif %}
                    <div class="btn-box">
                        <button type = 'submit' class="btn-create">CREATE</button>
                    </div>
                </div>
            
            </div>
        </form>
        
            <!-- End Main Home -->
        </div>



        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            $(document).ready(function() {
                // Show hide popover
                $(".dropdown-nav").click(function() {
                    $(this).find(".dropdown-menu").slideToggle("fast");
                });
            });
            $(document).on("click", function(event) {
                var $trigger = $(".dropdown-nav");
                if ($trigger !== event.target && !$trigger.has(event.target).length) {
                    $(".dropdown-menu").slideUp("fast");
                }
            });
        </script>
        <script>
            $(document).ready(function() {
                // Show hide popover
                $(".dropdown_raw").click(function() {
                    $(this).find(".dropdown-menu_raw").slideToggle("fast");
                });
            });
            $(document).on("click", function(event) {
                var $trigger = $(".dropdown_raw");
                if ($trigger !== event.target && !$trigger.has(event.target).length) {
                    $(".dropdown-menu_raw").slideUp("fast");
                }
            });
        </script>
        <script>
            $('#topheader .navbar-nav a').on('click', function() {
                $('#topheader .navbar-nav').find('li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });
        </script>
        <script>
            $('#leftMenu .sidebar a').on('click', function() {
                $('#leftMenu .sidebar').find('li.active').removeClass('active');
                $(this).parent('li').addClass('active');
            });
        </script>
        <script>
            /* ============Active Pagin============= */
            const room = document.querySelector('.pagin-table');
            const btns = document.querySelectorAll('.number-page');

            room.addEventListener('click', e => {

                btns.forEach(btn => {

                    if (btn.getAttribute('id') === e.target.getAttribute('id'))
                        btn.classList.add('active');
                    else
                        btn.classList.remove('active');
                });
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="{% static 'PC/js/chart.js' %}"></script>
        <script src="{% static 'PC/js/app.js' %}"></script>
</body>

</html>