{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static '/PC/themify-icons.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static '/PC/css/style.css' %}">
</head>
<body>
    <div class="app">
        <div class="container-home">
            <!-- Header Home -->
            <div class="row header-home">
                <div class="logo">
                    <a href=""><img src="{% static '/PC/img/logo_hnk.png' %}" alt="logo"></a>
                </div>
                <div class="navbar" id="topheader">
                    <ul class="navbar-nav">
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 1%}
                        active
                        {% endif %}
                        ">
                            <a href="{% url 'dashboard' 1 %}" class="nav-links drop-btn" onclick="openTigerTp()">
                                Tiger Table Promotion
                            </a>
                            
                        </li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 2 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 3 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 4 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 5 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 6 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 6 %}" class="nav-links">Strongbow Festive</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 7 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 8 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 9 %}
                            active
                        {% endif %}
                        "><a href="{% url 'dashboard' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                    </ul>
                </div>
                <div class="profile-user dropdown-logout">
                    <a href="#" class="user-img" onclick="openTigerTp()">
                        <img src="{% static '/PC/img/Power-01.ico' %}" alt="avatar" class="avatar-user">
                    </a>
                    <ul class="dropdown-menu_logout">
                        <li class="nav-sub"><a href="{% url 'logoutHVN' %}"><i class="ti-shift-left"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="row raw-data">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><i class='bx bxs-home'></i> </button>
                    <span class="title-menu">Dashboard</span>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'dashboard' cam_id %}">Dashboard</a></li>
                        <li class="nav-sub"><a href="{% url 'raw-data' cam_id %}">Raw data</a></li>
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id %}">Management</a></li>
                        <li class="nav-sub"><a href="{% url 'export-report' cam_id %}">Export report</a></li>
                    </ul>
                </div>
                <div class="rightbox">
                    <div class="bg-filter">
                        <form action="{% url 'dashboard' cam_id %}" method='POST' class="form-filter">
                            {% csrf_token %} 
                            <div class="filter">
                                <div class="filter-box">
                                    From
                                    <input type="date" placeholder="Date" name="from-date" required value={{from_date}}>
                                </div>
                                <div class="time-box">
                                    To
                                    <input type="date" placeholder="Date" name="to-date" required value = {{to_date}}>
                                </div>
                                <!-- <div class="range-box">
                                    Range
                                    <input type="datetime-local" value="">
                                </div> -->
                            </div>
        
                            <div class="btn-box">
                                <input type="submit" value="Apply" class="input-filter">
                                <input type="reset" value="Clear" class="input-reset">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Main Home-->

            <div class="main-home">
                <!-- Sidebar left menu -->

                <div class="sidebar-left" id="leftMenu">
                    
                    <div class="sidebar">
                        <div class="sidebar-menu sidebar-menu_main">
                            <span class="sidebar-menu_title">SELECT ACTIVATION</span>
                        </div>
                    
                        <div class="sidebar-menu">
                            <div class="sidebar-menu_dropdown">
                                <i class='bx bxs-location-plus sidebar-menu_icon' ></i>
                                <span class="sidebar-menu_title">Province</span>
                                <button type="button" class="btn-reset"><i class="bx bx-reset"></i></button>
                            </div>
                            
                            <div class="sidebar-menu_dropdown-content">
                                {% for province in list_province %}
                                <div class="sidebar-menu_sub">
                                    <label>
                                        {% comment %} checked="checked" {% endcomment %}
                                        <input type="checkbox"  class="sidebar-menu_checkbox" name='province' value="{{province}}">
                                        <span class="checkmark"></span>
                                    </label>
                                    <p class="sidebar-menu_item">
                                        {{province}}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sidebar-menu">
                            <div class="sidebar-menu_dropdown">
                                <i class='bx bxs-purchase-tag-alt sidebar-menu_icon' ></i>
                                <span class="sidebar-menu_title">Outlet Type</span>
                                <button type="button" class="btn-reset"><i class="bx bx-reset"></i></button>
                            </div>
                            <div class="sidebar-menu_dropdown-content" id="list_type_outlet">
                               {% for type in list_type %}
                                <div class="sidebar-menu_sub">
                                    <label>
                                        {% comment %} <input type="checkbox"  class="sidebar-menu_checkbox" name="type_outlet" value = "{{type}}">  {% endcomment %}
                                        <input type="checkbox"  class="sidebar-menu_checkbox" name="type_outlet" value = "{{type}}"> 
                                        <span class="checkmark"></span>
                                    </label>
                                    <p class="sidebar-menu_item">
                                       {{type}}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sidebar-menu">
                            <div href="#" class="sidebar-menu_dropdown">
                                <i class='bx bxs-user-detail sidebar-menu_icon' ></i>
                                <span class="sidebar-menu_title">Outlet Name</span>
                                <button type="button" class="btn-reset"><i class="bx bx-reset"></i></button>
                            </div>
                            <div class="sidebar-menu_dropdown-content content-height" id='list_name_outlet'>
                                {% for outlet in list_name_outlet%}
                                <div class="sidebar-menu_sub">
                                    <label>
                                        <input type="checkbox" class="sidebar-menu_checkbox" name="name_outlet" value="{{outlet}}">
                                        <span class="checkmark"></span>
                                    </label>
                                    <p class="sidebar-menu_item">
                                        {{outlet}}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

                <!-- Main Content -->
                <div class="main-right" style="padding-top: 160px;">
                    <div class="box-left">
                        <div class="col-vertical">
                            <div class="num-active">
                                <p class="chart-title">ACTIVATION PROGRESS</p>
                                <br>
                                <p class="desc">Actual Acts</p>
                                <div id="chart-acti"></div>
                                <!-- <span class="number-one">142</span> -->
                                <p class="desc">Total Acts</p>
                                {% comment %} <span class="number-two">{{total_activation}}/100%</span> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-vertical">
                            <div class="num-active">
                                <p class="chart-title">VOLUME PERFORMANCE</p>
                                <br>
                                <p class="desc">(Can/Bottle)</p>
                                <p class="desc">Actual Volume</p>
                               
                                <div id="chart-perf"></div>
                                <br>
                                <p class="desc">Target Volume</p>
                                
                            </div>
                        </div>
                        <div class="col-vertical">
                            <div class="num-active">
                                <p class="chart-title">VOLUME PROGRESS
                                </p>
                                <br>
                                
                                <div id="chart-prog"></div>
                                <p class="desc">Total volume</p>
                                {% comment %} <span class="number-two">{{target_volume}}/100%</span> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="box-right">
                        <div class="row">
                            <div class="col-horizontal">
                                <p class="chart-title">SP PERFORMANCE</p>
                                <div class="header" id='Consumers_charts'>
                                    <div class="row-1">
                                        <div class="col-12">
                                            <div class="col-4">
                                                <p class="title">
                                                    Total Consumers <br>{{total_consumers}}
                                                </p>
                                            </div>
                                            <div class="col-4">
                                                <p class="title">
                                                    Total Reached Consumers <br>{{ctm_reached}}
                                                </p>
                                            </div>
                                            <div class="col-4">
                                                <p class="title">
                                                    Total Bought Consumers <br>{{total_bought_consumers}}
                                                </p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row-2">
                                        <div class="col-12">
                                        
                                            <div class="col-6">
                                                <span class="number">Average Reach <br> {{per_reached}}%</span>
                                            </div>
                                            <div class="col-6">
                                                <span class="number">Average Conversion <br> {{average_conversion}}%</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="main" align="center">
                                    <p class="chart-title">AVERAGE PERFORMANCE PER ACT</p>
                                    <p class="desc">(Can/Bottle)</p>
                                    <div id="chart-act"></div>
                                    
                                </div>
                                <!-- <div class="footer">
                                    <div class="icon-color">
                                        <span class="icon-one"></span> <p class="smart-desc">Actual Achieved</p>
                                        <span class="icon-two"></span> <p class="smart-desc">Volume Target</p>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-horizontal" id="last-hope">
                                {% comment %} <div class="col-12">
                                    <p class="chart-title">TABLE SHARE PERFORMANCE</p>
                                    <div id="chart-share">
            
                                    </div>
                                    
                                </div> {% endcomment %}
                                <div class="col-12">
                                    <div align="center">
                                        <p class="chart-title">TABLE SHARE PERFORMANCE</p>
                                        <div id="chart-share"></div>
                                        <p class="desc">DURING SHIFT</p>
                                    </div>
                                    <div class="row">
                                        <div class="legend">
                                            <div class="legend-1"></div><span>HVN</span> 
                                        </div>
                                        <div class="legend">
                                            <div class="legend-2"></div><span>Brand</span>
                                        </div>
                                        <div class="legend">
                                            <div class="legend-3"></div><span>Other</span>
                                        </div>
                                        <div class="legend">
                                            <div class="legend-4"></div><span>Other beer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-horizontal">
                                <div class="header ">
                                    <div class="row dropdown_table">
                                        <div class="col-12 boxcorlor">
                                            <span class="box-color"></span>
                                            Scheme 
                                        </div>
                                        
                                        
                                        <ul class="dropdown-menu_table">
                                            <p class="title_sub">Select Scheme <i class='bx bx-sort-alt-2' ></i></p>
                                            {% if cam_id == 2 or cam_id == 4  or cam_id == 6 %}
                                            <button class="nav-sub" type='button' id='Scheme-1' value='scheme1'>Scheme 1</button>
                                            <button class="nav-sub" type='button' id='Scheme-2'>Scheme 2</button>
                                            {% endif %}
                                            {% if cam_id ==  6 %}
                                            <button class="nav-sub" type='button' id='Scheme-3'>Scheme 3</button>
                                            <button class="nav-sub" type='button' id='Scheme-4'>Scheme 4</button>
                                            <button class="nav-sub" type='button' id='Scheme-5'>Scheme 5</button>
                                            {% endif %}
                                        </ul>
                                       
                                        
                                        
                                        



                                    </div>
                                    
                                    <div class="row-1" >
                                        <div class="col-12" id='list-gift'>
                                            {% for gift in gift_name%}
                                            <div >
                                                <p class="title">{{gift}}</p>
                                            </div>
                                            
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="main">
                                    <div id="chart-product"></div>
                                </div>
                                <!-- <div class="footer">
                                    <div class="icon-color">
                                        <span class="icon-one"></span> <p class="smart-desc">Actual Achieved</p>
                                        <span class="icon-two"></span> <p class="smart-desc">Volume Target</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-bottom">
                                <div class="col-12">
                                    <p class="chart-title">TOP OUTLET PERFORMANCE</p>
                                    <div class="btns">
                                        
                                        <div class="btn-arrow">
                                            <button id= "ascending" type="button"><i class='bx bx-chevrons-up'></i></button> <br>
                                            <button id= "decrease" type="button"><i class='bx bx-chevrons-down' ></i></button>
                                        </div>                                    
                                    </div>

                                    <div id="chart-top"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "445536889224666");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'PC/js/apexcharts.js' %}"></script>
    
    <script>
        
       
        
    </script>

    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown-nav").click(function(){
                $(this).find(".dropdown-menu").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown-nav");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu").slideUp("fast");
            }            
        });
    </script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown-logout").click(function(){
                $(this).find(".dropdown-menu_logout").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown-logout");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu_logout").slideUp("fast");
            }            
        });
    </script>
    <script>
        $( '#topheader .navbar-nav a' ).on( 'click', function () {
        $( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
        $( this ).parent( 'li' ).addClass( 'active' );
    });
    </script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown_raw").click(function(){
                $(this).find(".dropdown-menu_raw").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown_raw");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu_raw").slideUp("fast");
            }            
        });
    </script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown_table").click(function(){
                $(this).find(".dropdown-menu_table").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown_table");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu_table").slideUp("fast");
            }            
        });
    </script>
    <!-- <script>
        $( '#leftMenu .sidebar a' ).on( 'click', function () {
        $( '#leftMenu .sidebar' ).find( 'li.active' ).removeClass( 'active' );
        $( this ).parent( 'li' ).addClass( 'active' );
    });
    </script> -->
    
    {% comment %}  -------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> {% endcomment %}
{% comment %} ------------------------------TOP 10 OUTLET -------------------------------{% endcomment %}
<script>
    var top10_name = {{ top10_name| safe}}
    var top10_sale = {{ top10_sale| safe}}
    var top10_table = {{ top10_table| safe}}
    console.log(top10_sale)
    
    var options = {
        series: [{
            name: '[Brand] Volume',
            type: 'column',
            data: top10_sale,
        }, {
            name: '[Brand] Table Share',
            type: 'line',
            data: top10_table,
        }],
        chart: {
            height: 370,
            with: 400,
            type: 'line',
        },
        stroke: {
            width: [0, 3],
        },
        title: {
            text: 'Traffic Sources'
        },
        dataLabels: {
            enabled: true,
            enabledOnSeries: [1],
            style: {
                colors: ['#1C263F']
            }
        },
        plotOptions: {
            bar: {
                borderRadius: 5,
            }
        },
        labels: top10_name,
        colors: ['#198631', '#1C263F'],
        yaxis: [{
            title: {
                text: 'Top 10',
            },
    
        }, {
            opposite: true,
            title: {
                text: 'Outlet'
            }
        }]
    };
    
    var chart = new ApexCharts(document.querySelector("#chart-top"), options);
    chart.render();
</script>

{% comment %} AVERAGE PERFORMANCE PER ACT------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> {% endcomment %}
<script>
   
    var options = {
        chart: {
            height: 200,
            type: 'bar',
        },
        series: [{
            name: 'ACT',
            data: {{Average_brand_volume}},
        }],
        yaxis: {
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false,
            },
            labels: {
                show: false,
                formatter: function(val) {
                    return val + "%";
                }
            }
    
        },
        labels: ['Average Brand Volume', 'Average Target Volume'],
        colors: ['#198631', '#1C263F']
    }
    
    var chart = new ApexCharts(document.querySelector("#chart-act"), options);
    
    chart.render();
    
</script>
{% comment %}  pie charts-------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> {% endcomment %}

    <script> 
        
        var options = {
            series: {{text}},
            chart: {
                width: 350,
                type: 'pie',
            },
            // labels: ['Tiger', 'HNK', 'Orther Beer','Orther'],
            colors: ['#198631', '#95b79d', '#1C263F', '#939393'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                        
                    }
                }
            }]
        };
        
        var chart = new ApexCharts(document.querySelector("#chart-share"), options);
        chart.render();
    </script>



    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
{% comment %} GIFT------------------------>>>>>>>>>>>>>>>>>>>>>> {% endcomment %}

<script>
    var options = {
        series: [{
            data: {{ gift_rp| safe}}
        }],
        chart: {
            height: 280,
            type: 'bar',
    
        },
        colors: ['#198631', '#1C263F', '#727170', '#b5f398', '#c4c4c4', '#49566e'],
    
        plotOptions: {
            bar: {
                columnWidth: '60%',
                distributed: true,
                borderRadius: 5,
                dataLabels: {
                    position: 'top', // top, center, bottom
                },
            }
        },
    
        dataLabels: {
            enabled: true,
            formatter: function(val) {
                return val + "%";
            },
            offsetY: -20,
            style: {
                fontSize: '12px',
                colors: ["#304758"]
            }
        },
        yaxis: {
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false,
            },
            labels: {
                show: false,
                formatter: function(val) {
                    return val + "%";
                }
            }
        },
        legend: {
            show: true
        },
        xaxis: {
            categories: 
                {{array_gift|safe}}
            ,
            labels: {
                style: {
                    colors: ['#111'],
                    fontSize: '12px',
                }
            },
        },
    };
    console.log({{array_gift|safe}})
    var chart = new ApexCharts(document.querySelector("#chart-product"), options);
    chart.render();
    
</script>

<script>
    var activation = {{activation|safe}}
    var options = {
        series: [{
            data: [activation, {{total_activation}}],
        }, ],
        chart: {
            height: 200,
            type: 'bar',
        },
        labels: [''],
        colors: ['#198631', '#1C263F'],
        legend: {
            show: false,
        },
        plotOptions: {
            bar: {
                columnWidth: '15%',
                distributed: true,
                borderRadius: 5,
                horizontal: true,
                dataLabels: {
                    position: 'center', // top, center, bottom
                },
            }
        },
    
    
        xaxis: {
            categories: [''],
            labels: {
                style: {
                    colors: ['#111'],
                    fontSize: '12px',
                }
            },
        },
        dataLabels: {
            enabled: true,
            formatter: function(val) {
                return val ;
            },
            style: {
                fontSize: '12px',
                colors: ["red"]
            }
        },
    
    };
    
    var chart = new ApexCharts(document.querySelector("#chart-acti"), options);
    chart.render();
    
</script>
    {% comment %} jsssssssssssssssssssssssssssssssssssssssssssssssssss {% endcomment %}


<script>
    var options = {
        series: [{
            data: [{{actual_volume}}, {{target_volume}}],
        }, ],
        chart: {
            height: 200,
            type: 'bar',
        },
        labels: [''],
        colors: ['#198631', '#1C263F'],
        legend: {
            show: false,
        },
        plotOptions: {
            bar: {
    
                distributed: true,
                borderRadius: 5,
                horizontal: true,
                dataLabels: {
                    position: 'center', // top, center, bottom
                },
            }
        },
    
    
        dataLabels: {
            position: 'center', // top, center, bottom
            enabled: true,
            formatter: function(val) {
                return val + "/" + val/{{target_volume}} *100 + "%";
            },
            style: {
                fontSize: '12px',
                colors: ["red"],
    
            },
    
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 300
                },
                legend: {
                    show: false
                },
            }
        }]
    };
    
    var chart = new ApexCharts(document.querySelector("#chart-prog"), options);
    chart.render();
    
</script>

<script>
    var  decrease = $('#decrease')
    var top10_name_decrease = {{ top10_name| safe}}
    var top10_sale_decrease = {{ top10_sale| safe}}
    var top10_table_decrease = {{ top10_table| safe}}
    decrease.click(function() {
    var options = {
        series: [{
            name: '[Brand] Volume',
            type: 'column',
            data: top10_sale_decrease,
        }, {
            name: '[Brand] Table Share',
            type: 'line',
            data: top10_table_decrease,
        }],
        chart: {
            height: 370,
            with: 400,
            type: 'line',
        },
        stroke: {
            width: [0, 3],
        },
        title: {
            text: 'Traffic Sources'
        },
        dataLabels: {
            enabled: true,
            enabledOnSeries: [1],
            style: {
                colors: ['#1C263F']
            }
        },
        plotOptions: {
            bar: {
                borderRadius: 5,
            }
        },
        labels: top10_name_decrease,
        colors: ['#198631', '#1C263F'],
        yaxis: [{
            title: {
                text: 'Top 10',
            },
    
        }, {
            opposite: true,
            title: {
                text: 'Outlet'
            }
        }]
    };
    $("#chart-top").empty();
    var chart = new ApexCharts(document.querySelector("#chart-top"), options);
    chart.render();
    })
</script>

<script>
    var  ascending = $('#ascending')
    var top10_name_ascending = {{ top10_name_reverse| safe}}
    var top10_sale_ascending = {{ top10_sale_reverse| safe}}
    var top10_table_ascending = {{ top10_table_reverse| safe}}
    ascending.click(function() {
    var options = {
        series: [{
            name: '[Brand] Volume',
            type: 'column',
            data: top10_sale_ascending,
        }, {
            name: '[Brand] Table Share',
            type: 'line',
            data: top10_table_ascending,
        }],
        chart: {
            height: 370,
            with: 400,
            type: 'line',
        },
        stroke: {
            width: [0, 3],
        },
        title: {
            text: 'Traffic Sources'
        },
        dataLabels: {
            enabled: true,
            enabledOnSeries: [1],
            style: {
                colors: ['#1C263F']
            }
        },
        plotOptions: {
            bar: {
                borderRadius: 5,
            }
        },
        labels: top10_name_ascending,
        colors: ['#198631', '#1C263F'],
        yaxis: [{
            title: {
                text: 'Top 10',
            },
    
        }, {
            opposite: true,
            title: {
                text: 'Outlet'
            }
        }]
    };
    $("#chart-top").empty();
    var chart = new ApexCharts(document.querySelector("#chart-top"), options);
    chart.render();
    })
</script>

<script>
    var options = {
        series: [{
            data: [{{actual_volume}}, {{target_volume}}],
        }, ],
        chart: {
            height: 200,
            type: 'bar',
        },
        labels: [''],
        colors: ['#198631', '#1C263F'],
        legend: {
            show: false,
        },
        plotOptions: {
            bar: {
                columnWidth: '15%',
                distributed: true,
                borderRadius: 5,
                horizontal: true,
                dataLabels: {
                    position: 'center', // top, center, bottom
                },
            }
        },
    
        dataLabels: {
            enabled: true,
            formatter: function(val) {
                return val + "";
            },
            style: {
                fontSize: '12px',
                colors: ["red"]
            }
        },
    
    };
    
    var chart = new ApexCharts(document.querySelector("#chart-perf"), options);
    chart.render();
    
    
</script>
    {% comment %} <script src="{% static 'PC/js/chart.js' %}"></script> {% endcomment %}
    <script src="{% static 'PC/js/dashboard.js' %}"></script> 
    <script src="{% static 'PC/js/app.js' %}"></script>
    <script src="{% static 'PC/js/list_gift_scheme.js' %}"></script>
</body>
</html>