{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI Setting</title>

    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static '/PC/themify-icons.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static '/PC/css/style.css' %}">
</head>
<body>
    <div class="app">
        <div class="container-home">
            <!-- Header Home -->
            <div class="row header-home">
                <div class="logo">
                    <a href=""><img src="{% static '/PC/img/logo_hnk.png' %}" alt="logo"></a>
                </div>
                <div class="navbar" id="topheader">
                    
                        <ul class="navbar-nav">
                            <li class="nav-list dropdown-nav 
                            {% if cam_id == 1%}
                            active
                            {% endif %}
                            ">
                                <a href="{% url 'kpi' 1 %}" class="nav-links drop-btn" onclick="openTigerTp()">
                                    Tiger Table Promotion
                                </a>
                                
                            </li>
                            <li class="nav-list dropdown-nav
                            {% if cam_id == 2 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                            <li class="nav-list dropdown-nav
                            {% if cam_id == 3 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                            <li class="nav-list dropdown-nav
                            {% if cam_id == 4 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                            <li class="nav-list dropdown-nav 
                            {% if cam_id == 5 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                            <li class="nav-list dropdown-nav 
                            {% if cam_id == 6 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 6 %}" class="nav-links">Strongbow Festive</a></li>
                            <li class="nav-list dropdown-nav 
                            {% if cam_id == 7 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                            <li class="nav-list dropdown-nav
                            {% if cam_id == 8 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                            <li class="nav-list dropdown-nav
                            {% if cam_id == 9 %}
                                active
                            {% endif %}
                            "><a href="{% url 'kpi' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                        </ul>
                   
                </div>
                <div class="profile-user dropdown-logout">
                    <a href="#" class="user-img" onclick="openTigerTp()">
                        <img src="{% static '/img/img_avatar3.png' %}" alt="avatar" class="avatar-user">
                    </a>
                    <ul class="dropdown-menu_logout">
                        <li class="nav-sub"><a href="{% url 'logoutHVN' %}"><i class="ti-shift-left"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="row raw-data">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><i class='bx bx-menu'></i> </button>
                    <span class="title-menu">Management</span>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'dashboard' cam_id  %}">Dashboard</a></li>
                        <li class="nav-sub"><a href="{% url 'raw-data' cam_id  %}">Raw data</a></li>
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id  %}">Management</a></li>
                        <li class="nav-sub"><a href="{% url 'export-report' cam_id  %}">Export report</a></li>
                    </ul>
                </div>
                {% comment %} <div class="rightbox">
                    <div class="lock-icon">
                        <i class='bx bxs-lock-open-alt'></i> <span>Lock</span>
                    </div>
                </div> {% endcomment %}
                
                
            </div>
            <div class="row raw-data-sub">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><span class="title-menu">KPI Setting</span> </button>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id  %}">Outlet Information</a></li>
                        <li class="nav-sub"><a href="{% url 'outlet-approval' cam_id  %}">Outlet approval</a></li>
                        <li class="nav-sub"><a href="{% url 'kpi' cam_id  %}">KPI Tracking</a></li>
                        <li class="nav-sub"><a href="{% url 'sp-info' cam_id %}">SP Information</a></li>
                    </ul>
                </div>
                {% if is_campain_owner%}
                <div class="rightbox_kpi">
                    {% comment %} <button class="btn-kpi">SET NEW KPI</button> {% endcomment %}
                    <a class="btn-kpi" href="create_KPI/">SET NEW KPI</a>
                    <!-- <div class="update-file-outlet">
                        <span class="label">
                            UPLOAD NEW OUTLET LIST
                        </span>
                        <input type="file" name="upload" id="upload" class="upload-box" placeholder="UPLOAD NEW OUTLET LIST">
                    </div> -->

                </div>
                {% endif %}
            </div>

            <!-- Main Home-->
            
            <div class="main-table_managenment">
                <div class="table-outlet">
                    <table style="width:60%" class="table-list">  
                        
                        <tr>  
                            <th>KPI</th>  
                            {% comment %} <th class="th-kpi"><div><span>1</span> <span class="small">st</span>KPI</div></th>  
                            <th class="th-kpi"><div><span>2</span> <span class="small">nd</span>KPI</div></th> {% endcomment %}
                            {% for kpi in all_kpi %}
                                <th class="th-kpi"><div><span>{{ forloop.counter }}</span> <span class="small">nd</span>KPI</div></th>
                            {% endfor %}
                            {% comment %} <th>Input</th>   {% endcomment %}
                        </tr>  
                        
                        <tr>  
                            <td class="td-desc bg-green">Start date</td>  
                            {% comment %} <td class="td-desc bg-gray">10 Dec</td>   {% endcomment %}
                            {% for kpi in all_kpi %}
                                <td class="td-desc bg-green">{{kpi.start_day}}</td>  
                            {% endfor %}
                            {% comment %} <td class="td-desc bg-green">15 Dec</td>   {% endcomment %}
                            {% comment %} <td class="td-desc bg-green">
                                <input type="date" name="" id="input-date_kpi">
                                <i class='bx bxs-sort-alt'></i>
                            </td>  {% endcomment %}
                        </tr>  
                        <tr>  
                            <td class="td-desc">Volume Achieved (Can/Bottle)</td>  
                            {% comment %} <td class="td-desc bg-gray">120</td>   {% endcomment %}
                            {% for kpi in all_kpi %}
                                <td class="td-desc">{{kpi.volume_achieved}}</td>   
                            {% endfor %}
                            
                            {% comment %} <td class="td-desc text-red">input</td>  {% endcomment %}
                        </tr>  
                        <tr>  
                            <td class="td-desc">Table Share</td>  
                            {% comment %} <td class="td-desc bg-gray">80%</td>  
                            <td class="td-desc">90%</td>   {% endcomment %}
                            {% for kpi in all_kpi %}
                            <td class="td-desc">{{kpi.table_share}}</td>   
                            {% endfor %}
                            {% comment %} <td class="td-desc text-red">input</td>  {% endcomment %}
                        </tr>  
                        <tr>  
                            <td class="td-desc">% Consumer Reached</td>  
                            {% comment %} <td class="td-desc bg-gray">100%</td>  
                            <td class="td-desc">90%</td>   {% endcomment %}
                            {% for kpi in all_kpi %}
                            <td class="td-desc">{{kpi.consumer_reached}}</td>   
                            {% endfor %}
                            {% comment %} <td class="td-desc text-red">input</td>  {% endcomment %}
                        </tr>  
                        <tr>  
                            <td class="td-desc">% Conversion</td>  
                            {% comment %} <td class="td-desc bg-gray">80%</td>  
                            <td class="td-desc">70%</td>   {% endcomment %}
                            {% for kpi in all_kpi %}
                            <td class="td-desc">{{kpi.conversion}}</td>   
                            {% endfor %}
                            {% comment %} <td class="td-desc text-red">input</td>  {% endcomment %}
                        </tr>  
                        
                    </table> 
                    {% comment %} <div class="btn-box">
                        <button class="btn-create">CREATE</button>
                    </div> {% endcomment %}
                </div>
                
            </div>
            <!-- End Main Home -->
    </div>



    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown-nav").click(function(){
                $(this).find(".dropdown-menu").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown-nav");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu").slideUp("fast");
            }            
        });
    </script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown_raw").click(function(){
                $(this).find(".dropdown-menu_raw").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown_raw");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu_raw").slideUp("fast");
            }            
        });
    </script>
    <script>
        $( '#topheader .navbar-nav a' ).on( 'click', function () {
        $( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
        $( this ).parent( 'li' ).addClass( 'active' );
    });
    </script>
    <script>
        $( '#leftMenu .sidebar a' ).on( 'click', function () {
        $( '#leftMenu .sidebar' ).find( 'li.active' ).removeClass( 'active' );
        $( this ).parent( 'li' ).addClass( 'active' );
    });
    </script>
    <script>/* ============Active Pagin============= */
        const room  = document.querySelector('.pagin-table');
        const btns = document.querySelectorAll('.number-page'); 

        room.addEventListener('click', e => {

        btns.forEach(btn => {

            if(btn.getAttribute('id') === e.target.getAttribute('id'))
            btn.classList.add('active');
            else
            btn.classList.remove('active');
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown-logout").click(function(){
                $(this).find(".dropdown-menu_logout").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown-logout");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu_logout").slideUp("fast");
            }            
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'PC/js/chart.js' %}"></script>
    <script src="{% static 'PC/js/app.js' %}"></script>
</body>
</html>