{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Information</title>

    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static '/PC/themify-icons.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static '/PC/css/style.css' %}">
</head>
<body>
    <div class="app">
        <div class="container-home">
            <!-- Header Home -->
            <div class="row header-home">
                <div class="logo">
                    <a href="#
                    "><img src="{% static '/PC/img/logo_hnk.png' %}" alt="logo"></a>
                </div>
                <div class="navbar" id="topheader">
                    {% if not request.user.is_agency  %}
                    <ul class="navbar-nav">
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 1 %}
                            active
                        {% endif %}">
                            <a href="{% url 'sp-info' 1 %}" class="nav-links">
                                Tiger Table Promotion
                            </a>
                            
                        </li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 2 %}
                            active
                        {% endif %}"><a href="{% url 'sp-info' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 3 %}
                            active
                        {% endif %}"><a href="{% url 'sp-info' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 4 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 5 %}
                            active
                        {% endif %}"><a href="{% url 'sp-info' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 6 %}
                            active
                        {% endif %}"><a href="{% url 'sp-info' 6 %}" class="nav-links">Strongbow Festive</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 7 %}
                            active
                        {% endif %}"><a href="{% url 'sp-info' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 8 %}
                            active
                        {% endif %}"><a href="{% url 'sp-info' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 9 %}
                            active
                        {% endif %}"><a href="{% url 'sp-info' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                    </ul>
                    {% endif %}
                    
                    {% if request.user.is_agency  %}
                    <ul class="navbar-nav">
                        {% if cam_id == 1%}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 1%}
                        active
                        {% endif %}
                        ">
                            <a href="{% url 'sp-info' 1 %}" class="nav-links drop-btn" onclick="openTigerTp()">
                                Tiger Table Promotion
                            </a>
                            
                        </li>
                        {% endif %}
                        {% if cam_id == 2 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 2 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 2 %}" class="nav-links">Tiger Festive Activation</a></li>
                        {% endif %}
                        {% if cam_id == 3 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 3 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 3 %}" class="nav-links">Tiger Hot Zone Activation</a></li>
                        {% endif %}
                        {% if cam_id == 4 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 4 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 4 %}" class="nav-links">Heineken Table Promotion</a></li>
                        {% endif %}
                        {% if cam_id == 5 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 5 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 5 %}" class="nav-links">Heineken Special Activation</a></li>
                        {% endif %}
                        {% if cam_id == 6 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 6 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 6 %}" class="nav-links">Strongbow Festive</a></li>
                        {% endif %}
                        {% if cam_id == 7 %}
                        <li class="nav-list dropdown-nav 
                        {% if cam_id == 7 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 7 %}" class="nav-links">Bivina Festive Promotion</a></li>
                        {% endif %}
                        {% if cam_id == 8 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 8 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 8 %}" class="nav-links">Larue Festive Promotion</a></li>
                        {% endif %}
                        {% if cam_id == 9 %}
                        <li class="nav-list dropdown-nav
                        {% if cam_id == 9 %}
                            active
                        {% endif %}
                        "><a href="{% url 'sp-info' 9 %}" class="nav-links">Larue Special Festive Promotion</a></li>
                        {% endif %}
                        
                    </ul>
                    {% endif %}
                </div>
                
                <div class="profile-user dropdown-logout">
                    <a href="#" class="user-img" onclick="openTigerTp()">
                        <img src="{% static '/PC/img/Power-01.ico' %}" alt="avatar" class="avatar-user">
                    </a>
                    <ul class="dropdown-menu_logout">
                        <li class="nav-sub"><a href="{% url 'passwordchangeHVN' %}">Đổi mật khẩu</a></li>
                        <li class="nav-sub"><a href="{% url 'logoutHVN' %}"><i class="ti-shift-left"></i> Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="row raw-data">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><i class='bx bx-menu'></i> </button>
                    <span class="title-menu">Management</span>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'dashboard' cam_id %}">Dashboard</a></li>
                        <li class="nav-sub"><a href="{% url 'raw-data' cam_id %}">Raw data</a></li>
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id %}">Management</a></li>
                        <li class="nav-sub"><a href="{% url 'export-report' cam_id %}">Export report</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="row raw-data-sub">
                <div class="leftbox dropdown_raw">
                    <button onclick="openLeftMenu()" class="open-left-menu"><span class="title-menu">SP Information</span> </button>
                    <ul class="dropdown-menu_raw">
                        <li class="nav-sub"><a href="{% url 'managementlist' cam_id %}">Outlet Information</a></li>
                        <li class="nav-sub"><a href="{% url 'outlet-approval' cam_id %}">Outlet approval</a></li>
                        <li class="nav-sub"><a href="{% url 'kpi' cam_id %}">KPI Tracking</a></li>
                        <li class="nav-sub"><a href="{% url 'sp-info' cam_id %}">SP Information</a></li>
                    </ul>
                    
                </div>
                {% comment %} <div class="rightbox">
                    <div class="lock-icon">
                        <i class='bx bxs-lock-alt' ></i> <span>Unlock to change</span>
                    </div>
                </div> {% endcomment %}
                
            </div>

            <!-- Main Home-->
            
            <div class="main-table_managenment">
                <div class="table-outlet">
                    {% csrf_token %}
                    <table style="width:100%" class="table-list">  
                        
                        <tr>  
                            <th rowspan="2" class="td-title ">No.</th>  
                            {% comment %} <th rowspan="2"  class="td-title ">
                                AGENCY NAME<br>
                                <input type="search" class="td-search"> 
                                <i class='bx bx-search-alt-2 icon-search' ></i>
                            </th>  
                            <th rowspan="2"  class="td-title ">
                                SP NAME <br>
                                <input type="search" class="td-search"> 
                                <i class='bx bx-search-alt-2 icon-search' ></i>
                            </th>  
                            <th rowspan="2"  class="td-title ">
                                SP’ID  <br>
                                <input type="search" class="td-search"> 
                                <i class='bx bx-search-alt-2 icon-search' ></i>
                            </th> {% endcomment %}
                            <th rowspan="2"  class="td-title ">
                                <a href="{% url 'sp-info' cam_id %}?sp_id={{spid_filter}}" id="sp_id_filter"><i class='bx bx-search-alt-2 icon-search' ></i></a>
                                SP ID  <br>
                                <input  class="td-search" value='{{sp_id}}' id='sp-id'> 
                                
                            </th>
                            <input type="hidden" id="url" value="{% url 'sp-info' cam_id %}">
                            
                            <th rowspan="2"  class="td-title">
                                <a href="{% url 'sp-info' cam_id %}?date_filter={{date_filter}}" id="raw_data_filter_date">
                                START DAY
                               
                                <i class='bx bxs-sort-alt'></i>
                                </a>
                                <br>
                                <input type="date" class="td-date" id="date" value="{{date_filter}}">
                                
                            </th>  
                             
                              
                            <th rowspan="2"  class="td-title">
                                <a href="{% url 'sp-info' cam_id %}?date_filter={{date_filter}}" id="raw_data_filter_date">
                                END DAY
                                
                                <i class='bx bxs-sort-alt'></i>
                                </a>
                                <br>
                                <input type="date" class="td-date">
                            </th>   
                            <th rowspan="2"  class="td-title">
                                STATUS
                            </th>   
                              
                            <th colspan="3"  class="td-title">
                                ACTION
                            </th> 
                        </tr>  
                        <tr>
                            <th class="th-btns">
                                EDIT SHIFT
                            </th>
                            <th class="th-btns">
                                <div>
                                    <button class="th-btn" id="ban" 
                                    {% if not is_campain_owner %}
                                        disabled
                                    {% endif %}>Ban</button>
                                </div>
                                <div>
                                    <button class="th-btn_all" id="ban_all" 
                                    {% if not is_campain_owner %}
                                        disabled
                                    {% endif %}
                                        >Ban All</button>
                                </div>
                            </th>
                            <th class="th-btns">
                                <div>
                                    <button class="th-btn" 
                                    {% if not is_campain_owner %}
                                        disabled
                                    {% endif %}>Download</button>
                                </div>
                                <div>
                                    <button class="th-btn_all" 
                                    {% if not is_campain_owner %}
                                        disabled
                                    {% endif %}>Download All</button>
                                </div>
                            </th>
                            
                        </tr>
                        
                        {% for sp in sale_person %}
                        <tr>  
                            <td class="td-desc">{{ forloop.counter }}</td>  
                            {% comment %} <td class="td-desc">Bluesun</td>  
                            <td class="td-desc ">{{ sp.full_name }}</td>  
                            <td class="td-desc "></td>   {% endcomment %}
                            <td class="td-desc ">{{ sp.user.user_name }}</td>  
                            <td class="td-desc ">{{ sp.joined.date }}</td>  
                            <td class="td-desc"></td>
                            
                            {% if sp.user.is_active %}
                            <td class="td-desc td-color_icon-green" id="status{{sp.user.id}}">
                                <a href="#" class="td-icon_user"><i class='bx bxs-user' ></i></a>
                            </td>
                            {% else %}
                            <td class="td-desc td-color_icon-red" id="status{{sp.user.id}}">
                                <a href="#" class="td-icon_user"><i class='bx bxs-user' ></i></a>
                            </td>
                            {% endif %}
                                 
                             
                            <td class="td-desc">
                                <a href="#" class="td-icon_edit"><i class='bx bxs-edit'></i></a>
                            </td> 
                            <td class="td-desc">
                                <label>
                                    <input type="checkbox" class="sidebar-menu_checkbox" value="{{sp.user.id}}" name="ban_user" 
                                    {% if not is_campain_owner %}
                                        disabled
                                    {% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                            </td> 
                            <td class="td-desc">
                                <label>
                                    <input type="checkbox" class="sidebar-menu_checkbox" 
                                    {% if not is_campain_owner %}
                                        disabled
                                    {% endif %}>
                                    <span class="checkmark" ></span>
                                </label>
                            </td> 
                            
                        </tr>
                        {% endfor %}
                            
                        
                        
                    </table> 
                    {% comment %} <div class="pagin-table">
                        <a href="#" class="back-page"><i class='bx bxs-chevrons-left' ></i></a>
                        <a href="#" id="page-1" class="number-page active">1</a>
                        <span>|</span>
                        <a href="#" id="page-2" class="number-page">10</a>
                        <a href="#" class="next-page"><i class='bx bxs-chevrons-right' ></i></a>
                    </div> {% endcomment %}
                </div>
                
            </div>
            <!-- End Main Home -->
    </div>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown-nav").click(function(){
                $(this).find(".dropdown-menu").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown-nav");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu").slideUp("fast");
            }            
        });
    </script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown_raw").click(function(){
                $(this).find(".dropdown-menu_raw").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown_raw");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu_raw").slideUp("fast");
            }            
        });
    </script>
    <script>
        $( '#topheader .navbar-nav a' ).on( 'click', function () {
        $( '#topheader .navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
        $( this ).parent( 'li' ).addClass( 'active' );
    });
    </script>
    <script>
        $( '#leftMenu .sidebar a' ).on( 'click', function () {
        $( '#leftMenu .sidebar' ).find( 'li.active' ).removeClass( 'active' );
        $( this ).parent( 'li' ).addClass( 'active' );
    });
    </script>
    <script>/* ============Active Pagin============= */
        const room  = document.querySelector('.pagin-table');
        const btns = document.querySelectorAll('.number-page'); 

        room.addEventListener('click', e => {

        btns.forEach(btn => {

            if(btn.getAttribute('id') === e.target.getAttribute('id'))
            btn.classList.add('active');
            else
            btn.classList.remove('active');
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown-logout").click(function(){
                $(this).find(".dropdown-menu_logout").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown-logout");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu_logout").slideUp("fast");
            }            
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#ban").click(function () {
                var array_id = [];
                $('input[name = "ban_user"]:checkbox:checked').each(function(i) {
                    console.log(this);
                    array_id.push($(this).val());
                    console.log(array_id);
                });
                const csrf = document.getElementsByName('csrfmiddlewaretoken');
                $.ajax({
                    type: 'POST',
                    url: '{% url "ban-sp" %}',
                    headers: {
                        "X-CSRFToken": csrf[0].value
                    },
                    data: JSON.stringify({"array_id":array_id}),

                    processData: false,
                    contentType: 'application/json',
                    dataType: "json",
                    success:function(resp) {
                        alert("Đã ban thành công!!!")
                        array_id.forEach(element => {
                            $("#status"+element).removeClass("td-color_icon-green").addClass("td-color_icon-red");
                        });
                    },
                    error: function(error) {
                        console.log(error)
                    }
                }); // end ajax
            }); // end click
        });
        
    </script>
    <script>
        $(document).ready(function(){
          $("#date").change(function () {
              var date_filter = $(this).val();
              console.log(date_filter);
              
              var url = $("#url").val();
              $("#raw_data_filter_date").attr("href",url + "?date_filter="+date_filter);
              
          }); // end change date       
                
            $("#sp-id").change(function () {
                var date_filter = $("#date").val();
                var spID = $(this).val();
                var url = $("#url").val();
                $("#sp_id_filter").attr("href",url + "?sp_id="+spID);
            }); // end change outlet-id  outlet-name  
            
            
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'PC/js/chart.js' %}"></script>
    <script src="{% static 'PC/js/app.js' %}"></script>
</body>
</html>