{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTIVATION TRACKING APP</title>

    <link rel="stylesheet" href="{% static '/themify-icons.css' %}"> 
    <!-- CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">       
</head>
<body>
    <div class="app">
        <div class="container">
                <!-- Header -->
                <div class="row header">
                    <div class="logo">
                        <a href=""><img src="{% static '/img/logo-hnk.png' %}" alt="logo"></a>    
                    </div>
                </div>
                <!-- Main -->
                <div class="row main">
                    <form action="" class="form-login" method='POST'>
                        {% csrf_token %} 
                        <h3 class="title">xin vui lòng đổi mật khẩu khi đăng nhập lần đầu!</h3>
                        <div class="box-center">
                            {{form.new_password}}
                            {% comment %} <input type="password" class="input-user" placeholder="Mật khẩu mới"></input> {% endcomment %}
                        </div>
                        <div class="box-center">
                            {{form.confirm_password }}
                            {% comment %} <input type="password" class="input-password" placeholder="Nhập Lại Mật Khẩu"></input> {% endcomment %}
                        </div>
                        
                        <input type="submit" class="input-submit" value="Đổi mật khẩu">
                    </form>
                    
                </div>

                <!-- Footer -->
                <div class="row footer">
                    <div class="footer-content">
                        <img src="{% static '/img/car-ban_white.png' %}" alt="icon">  
                        <img src="{% static '/img/women-alcohol_white.png' %}" alt="icon">   
                        <img src="{% static '/img/18+_white.png' %}" alt="icon">      
                        <p class="footer-desc">người dưới 18 tuổi không được uống rượu, bia</p>
                    </div>
                </div>
        </div>
    </div>

    <!-- JS -->  
    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>